name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:  # Allows manual triggering from GitHub UI

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: stable
          go-package: ./...

  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          args: ./...

      - name: Run tests
        run: go test ./...

      - name: Build binary
        run: go build -o ./bin/api ./cmd/api/...
